<table class="table table-light table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Main Effect</th>
            <th scope="col">Major Effect</th>
            <th scope="col">Minor Effect</th>
            <th scope="col">Weapon Type</th>
            <th scope="col">Caps Value</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        {{#if weapons.length}}
            {{#each weapons as |weapon|}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{mainEffect}}</td>
                    <td>{{majorEffect}}</td>
                    <td>{{minorEffect}}</td>
                    <td>{{weaponType}}</td>
                    <td>{{capsValue}}</td>
                    <td>{{user.username}}</td>
                </tr>
            {{/each}}
        {{else}}
            <h6 class="pb-4 has-text-centered is-italic">You do not currently have any weapons.</h6>
        {{/if}}
    </tbody>
</table>

<script src="/js/delete.js"></script>